Repository block/goose, pull requests merged in 2024-10, with the labels that each got.

#68 feat: add a deep thinking reasoner model (o1-preview/mini)
  pyproject.toml
  src/goose/toolkit/prompts/reasoner.jinja
  src/goose/toolkit/reasoner.py
Labels: enhancement

#176 fix: adding a release checker
  .github/workflows/release-monitor.yml
Labels: documentation, enhancement, ready

#197 docs: correct intellij link
  docs/index.md
Labels: bug, documentation, ready

#201 feat: license checker
  .github/workflows/scripts/check_licenses.py
  .github/workflows/scripts/test_check_licenses.py
  justfile
Labels: enhancement, ready

#202 chore: housekeeping
  .gitignore
  justfile
  tests/cli/test_session.py
Labels: ready

#208 fix: prompt rendering
  src/goose/cli/session.py
Labels: bug, ready
