Repository block/goose, pull requests merged in 2024-11, with the labels that each got.

#212 chore: license-checker improvements
  .github/workflows/scripts/check_licenses.py
  justfile
Labels: enhancement, ready

#195 fix: only run summarize when there is something to summarize vs up front
  src/goose/synopsis/moderator.py
Labels: bug, enhancement, ready

#227 feat: add observability plugin system
  CONTRIBUTING.md
  README.md
  packages/exchange/pyproject.toml
  packages/exchange/src/exchange/exchange.py
  packages/exchange/src/exchange/langfuse_wrapper.py
  packages/exchange/src/exchange/observers/__init__.py
  packages/exchange/src/exchange/observers/base.py
  packages/exchange/src/exchange/observers/langfuse.py
  packages/exchange/src/exchange/providers/anthropic.py
  packages/exchange/src/exchange/providers/bedrock.py
  packages/exchange/src/exchange/providers/databricks.py
  packages/exchange/src/exchange/providers/google.py
  packages/exchange/src/exchange/providers/groq.py
  packages/exchange/src/exchange/providers/openai.py
  packages/exchange/tests/test_langfuse_wrapper.py
  packages/exchange/tests/test_observer.py
  src/goose/cli/session.py
  src/goose/profile.py
  tests/cli/test_session.py
  tests/test_profile.py
Labels: enhancement, ready

#324 feat: automatic port detection, assignment, ci and more
  .github/workflows/nodejs.yml
  ui/desktop/.env
  ui/desktop/.goosehints
  ui/desktop/package-lock.json
  ui/desktop/package.json
  ui/desktop/src/ChatWindow.tsx
  ui/desktop/src/config.ts
  ui/desktop/src/main.ts
  ui/desktop/src/preload.js
  ui/desktop/src/utils/portUtils.ts
Labels: enhancement, ready, p0

#311 feat: launch from path, wing to wing etc
  ui/desktop/package.json
  ui/desktop/src/App.tsx
  ui/desktop/src/ChatWindow.tsx
  ui/desktop/src/LauncherWindow.tsx
  ui/desktop/src/WingToWingWindow.tsx
  ui/desktop/src/main.ts
  ui/desktop/src/preload.js
  ui/desktop/src/types/electron.d.ts
Labels: enhancement, ready, p0

#340 fix: notification questions improvements
  ui/desktop/src/ChatWindow.tsx
  ui/desktop/src/components/GooseMessage.tsx
  ui/desktop/src/components/GooseResponseForm.tsx
Labels: p0

#342 small updates to wing to wing and removing dead code
  ui/desktop/src/ChatWindow.tsx
  ui/desktop/src/components/Tabs.tsx
  ui/desktop/src/components/ui/icons.tsx
  ui/desktop/src/main.ts
  ui/desktop/src/preload.js
  ui/desktop/src/types/electron.d.ts
Labels: ready, p0

#375 fix: set the path when running from app
  ui/desktop/src/goosed.ts
  ui/desktop/src/utils/loadEnv.ts
Labels: p0
