Repository block/goose, pull requests merged in 2024-09, with the labels that each got.

#66 fix: enhance shell() to know when it is interactive
  src/goose/toolkit/developer.py
  src/goose/utils/ask.py
Labels: bug, enhancement

#92 fix: removed the diff when default profile changes. Printed the current profile info instead
  src/goose/cli/config.py
  src/goose/cli/session.py
  src/goose/profile.py
  src/goose/utils/diff.py
  tests/cli/test_config.py
  tests/test_profile.py
Labels: ready

#73 feat: add global optional user goosehints file
  README.md
  src/goose/toolkit/developer.py
  tests/toolkit/test_developer.py
Labels: enhancement, ready
