Repository block/goose, pull requests merged in 2025-09, with the labels that each got.

#4501 docs: July and August 2025 Community All-Stars Update
  documentation/src/pages/community/data/august-2025.json
  documentation/src/pages/community/data/config.json
  documentation/src/pages/community/data/july-2025.json
  documentation/src/pages/community/index.tsx
Labels: community-spotlight

#4311 Align Dynamic Task Interface with Recipe Interface
  crates/goose-cli/src/session/output.rs
  crates/goose/src/agents/agent.rs
  crates/goose/src/agents/mod.rs
  crates/goose/src/agents/recipe_tools/dynamic_task_tools.rs
  crates/goose/src/agents/recipe_tools/sub_recipe_tools.rs
  crates/goose/src/agents/subagent.rs
  crates/goose/src/agents/subagent_execution_tool/task_execution_tracker.rs
  crates/goose/src/agents/subagent_execution_tool/task_types.rs
  crates/goose/src/agents/subagent_execution_tool/tasks.rs
  crates/goose/src/agents/subagent_execution_tool/tasks_manager.rs
  crates/goose/src/agents/subagent_execution_tool/utils/tests.rs
  crates/goose/src/agents/subagent_handler.rs
  crates/goose/src/agents/subagent_task_config.rs
  crates/goose/src/prompts/subagent_system.md
  crates/goose/src/prompts/system.md
  crates/goose/tests/dynamic_task_tools_tests.rs
  crates/goose/tests/task_types_tests.rs
Labels: p1, performance, ready

#4511 feat: Agent Client Protocol implementation of goose
  Cargo.lock
  JOKES.md
  README.md
  crates/goose-cli/Cargo.toml
  crates/goose-cli/src/cli.rs
  crates/goose-cli/src/commands/acp.rs
  crates/goose-cli/src/commands/mod.rs
  test_acp_client.py
Labels: rust, p2, ready

#4812 fix build: latest bedrock version
  Cargo.lock
  crates/goose/Cargo.toml
Labels: p0

#4875 fix: restoring test data and correcting name
  crates/goose/tests/mcp_replays/github-mcp-serverstdio
  crates/goose/tests/mcp_replays/github-mcp-serverstdio.results.json
  ui/desktop/openapi.json
  ui/desktop/src/api/types.gen.ts
Labels: p0
