Repository block/goose, pull requests merged in 2025-02, with the labels that each got.

#1190 docs: Adding clarity about resuming sessions to docs
  documentation/docs/guides/goose-cli-commands.md
  documentation/docs/guides/managing-goose-sessions.md
Labels: documentation

#1227 feat: linux computer control (WIP)
  crates/goose-mcp/src/computercontroller/mod.rs
  crates/goose-mcp/src/computercontroller/platform/linux.rs
  crates/goose-mcp/src/computercontroller/platform/mod.rs
Labels: work-in-progress

#1249 feat: Add mode for fully customizable system prompt template
  crates/goose-cli/src/session/builder.rs
  crates/goose/src/agents/agent.rs
  crates/goose/src/agents/capabilities.rs
  crates/goose/src/agents/reference.rs
  crates/goose/src/agents/truncate.rs
Labels: enhancement, cli
