Repository block/goose, pull requests merged in 2025-08, with the labels that each got.

#3932 Dagger container-use MCP
  documentation/docs/mcp/container-use-mcp.md
  documentation/static/servers.json
Labels: documentation, mcp

#3930 add missing dependencies for developer setup
  BUILDING_LINUX.md
Labels: ready

#3902 To-Do Tool for Goose
  crates/goose-cli/src/session/output.rs
  crates/goose-mcp/src/developer/mod.rs
  crates/goose/src/agents/agent.rs
  crates/goose/src/agents/mod.rs
  crates/goose/src/agents/todo_tools.rs
  crates/goose/src/prompts/system.md
  crates/goose/tests/todo_tools_test.rs
Labels: status: in progress, p1, performance

#4024 fix: this should be a debug message not a warn
  crates/goose/src/agents/agent.rs
Labels: p2

#4165 Add PKCE support for Tetrate Agent Router Service
  crates/goose-cli/src/commands/configure.rs
  crates/goose-server/src/routes/setup.rs
  crates/goose/examples/tetrate_auth.rs
  crates/goose/src/config/mod.rs
  crates/goose/src/config/signup_tetrate/mod.rs
  crates/goose/src/config/signup_tetrate/server.rs
  crates/goose/src/config/signup_tetrate/templates/error.html
  crates/goose/src/config/signup_tetrate/templates/invalid.html
  crates/goose/src/config/signup_tetrate/templates/success.html
  crates/goose/src/config/signup_tetrate/tests.rs
  crates/goose/src/providers/factory.rs
  crates/goose/src/providers/mod.rs
  crates/goose/src/providers/tetrate.rs
  ui/desktop/src/components/ProviderGuard.tsx
  ui/desktop/src/components/settings/providers/ProviderSettingsPage.tsx
  ui/desktop/src/utils/tetrateSetup.ts
Labels: feature-review, p1, onboarding
