Repository block/goose, pull requests merged in 2025-07, with the labels that each got.

#3277 docs(hooks): Inline useWindowManager documentation
  ui/desktop/src/hooks/docs/useWindowManager.md
  ui/desktop/src/hooks/useWindowManager.ts
Labels: documentation, docs-review

#2769 Add the ability to configure rustyline to use a different edit mode (e.g. vi)
  crates/goose-cli/src/session/builder.rs
  crates/goose-cli/src/session/mod.rs
Labels: waiting

#3265 feat: Add AZURE_OPENAI_API_KEY as a visible config parameter
  crates/goose/src/providers/azure.rs
  ui/desktop/src/components/settings/providers/ProviderRegistry.tsx
Labels: status: in progress, p3, waiting

#3419 chore: implement streaming for anthropic.rs firstparty provider
  crates/goose/src/providers/anthropic.rs
  crates/goose/src/providers/formats/anthropic.rs
Labels: p1, performance

#3516 Env var to set Ollama request timeout
  crates/goose/src/providers/ollama.rs
Labels: waiting

#3572 fix: track message id to keep like with like
  crates/goose/src/providers/formats/anthropic.rs
Labels: p1, performance

#3579 Goose security updates
  Cargo.lock
  crates/goose-llm/Cargo.toml
  crates/goose-llm/tests/extract_session_name.rs
  crates/goose-llm/tests/extract_tooltip.rs
  crates/goose-llm/tests/providers_complete.rs
  crates/goose-llm/tests/providers_extract.rs
  crates/goose-mcp/Cargo.toml
  crates/goose/Cargo.toml
  crates/goose/examples/agent.rs
  crates/goose/examples/databricks_oauth.rs
  crates/goose/examples/image_tool.rs
  crates/goose/tests/providers.rs
Labels: security, ready

#3633 docs: Quick spotlight fix
  documentation/src/pages/community/data/june-2025.json
Labels: documentation, community-spotlight

#3107 Add inline python extension
  crates/goose/Cargo.toml
  crates/goose/src/agents/extension.rs
  crates/goose/src/agents/extension_manager.rs
  crates/goose/src/recipe/mod.rs
  recipe-inline-python.yaml
  ui/desktop/openapi.json
  ui/desktop/src/api/types.gen.ts
  ui/desktop/src/components/settings/extensions/ExtensionsSection.tsx
  ui/desktop/src/components/settings/extensions/bundled-extensions.ts
  ui/desktop/src/components/settings/extensions/subcomponents/ExtensionItem.tsx
  ui/desktop/src/components/settings/extensions/subcomponents/ExtensionList.tsx
  ui/desktop/src/components/settings/extensions/utils.ts
  ui/desktop/src/components/settings/permission/PermissionRulesModal.tsx
  ui/desktop/src/components/settings/permission/PermissionSetting.tsx
Labels: ready

#3685 chore: adding in some new models token limits
  crates/goose/src/model.rs
Labels: ready

#3507 feat: openrouter out of the box experience for goose installations
  crates/goose-cli/src/commands/configure.rs
  crates/goose-server/src/routes/mod.rs
  crates/goose-server/src/routes/setup.rs
  crates/goose/Cargo.toml
  crates/goose/src/config/mod.rs
  crates/goose/src/config/signup_openrouter/mod.rs
  crates/goose/src/config/signup_openrouter/server.rs
  crates/goose/src/config/signup_openrouter/templates/error.html
  crates/goose/src/config/signup_openrouter/templates/invalid.html
  crates/goose/src/config/signup_openrouter/templates/success.html
  crates/goose/src/config/signup_openrouter/tests.rs
  crates/goose/src/providers/openrouter.rs
  ui/desktop/src/components/ProviderGuard.tsx
  ui/desktop/src/components/SetupModal.tsx
  ui/desktop/src/utils/openRouterSetup.ts
Labels: ui, rust, p1, onboarding
